[cols="28,72",options="header",role="api-table cookies-table"]
|===
|쿠키 |설명

{{#cookies}}
|{{#tableCellContent}}[.field-path]#`+{{name}}+`#{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/cookies}}
|===
